<!doctype html>
<html lang="en" ng-app="eventsApp">
<head>
<meta charset="UTF-8">
<title>Event Registration</title>
<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body ng-cloak>
	<nav class="navbar navbar-default" ng-controller="menuController">
			<div class="container-fluid">
			<div class="navbar-header">
      		 <a class="navbar-brand" href="{{homeURL}}">Event Registrations</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="newEvent.html">Create New Events</a></li>
					<li><a href="editProfile.html">Edit Profile</a></li>
					<li></li>
				</ul>
			</div>
	
		</nav>
<div class="container">

		<!--Pull in the NG Controller-->
	<div ng-controller="eventController">
		<div class="row">
			<div class="col-md-12"><h2 ng-class="titleStyle" ng-bind-template="{{event.name | uppercase }}  {{event.date | date}}"></h2></div>
		</div>
		<!--button class="btn" ng-disabled="toggleOnOff"> Disabled with ng-disabled </button-->
		<!--non bindable example 
		<div ng-non-bindable> {{non bindable example}} </div-->
		
		<div class="row">
				<div class="col-md-3">
					<div><strong>Date: </strong>{{event.date}}</h2></div>
					<div><strong>Time: </strong>{{event.time}}</h2></div>
					<div><strong>Price: </strong>{{event.price | currency}}</h2></div>
				</div>
				<div class="col-md-4">
					<a href="{{event.location.map}}">
						<address>
						<strong>Address: </strong><br>
						{{event.location.address}},<br>
						{{event.location.city}}<br>
						{{event.location.state}},
						{{event.location.zip}}
						</address>
					</a>
				</div>
				<div>
					<img ng-src="{{event.imageURL}}" alt="{{event.name}}" width="100px" height="auto"/>
				</div>
		</div>
		<div class="row">
				<h3>Next 4 Sessions:</h3>
				<label for="sortBy"> Sort By :</label>
				<select id="sortBy" ng-model="sortorder" class="input-small">
					<option value="name">Name</option>
					<option value="-upVoteCount">Votes</option>
				</select>
				
				<label for="showDifficulty"> Sort By :</label>
				<select id="showDifficulty" ng-model="query.level" class="input-small">
					<option value="">All</option>
					<option value="Introductory">Introductory</option>
					<option value="Medium">Medium</option>
					<option value="Advanced">Advanced</option>
				</select>
				
				<hr>
					<div class="col-md-6" ng-repeat="session in event.session | orderBy:sortorder | filter:query">
						<div>
							<div class="votingWidget col-md-1 bg-info bumpRight" >
										<div class="votingButton" ng-click="upVoteSession(session)">
											<i class="glyphicon glyphicon-arrow-up icon-white"></i>
										</div>
										<div class="badge">{{session.upVoteCount}}</div>
										<div class="votingButton" ng-click="downVoteSession(session)">
											<i class="glyphicon glyphicon-arrow-down icon-white"></i>
										</div>

							</div>

							<ul class="list-unstyled text-muted" ng-class-odd="titleStyle">
								<li>
									<strong>{{session.name}}</strong>
									<p>Created By: {{session.creatorName}}</p>
									<p>Duration: {{session.duration | durations }} </p>
									<p ng-bind-html="session.levelIcon"></p>
									<p class="alert bg-warning">{{session.abstract}}</p>
								</li>
							</ul>
						</div>
					</div>
	    </div>


	<!--End Event Controller-->
	</div>
		
		
<!--End Container-->
</div>



<!--Call Scripts-->
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controllers/menuController.js"></script>
<script type="text/javascript" src="js/controllers/eventController.js"></script>
<script type="text/javascript" src="js/controllers/editProfileController.js"></script>
<script type="text/javascript" src="js/filters.js"></script>
<script type="text/javascript" src="js/services/eventData.js"></script>
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>


</body>

</html>